/**
* The stylesheet for displaying on mobile device.
*
* @package stevecadey
* @author  LunarTheme
* @link	http://www.lunartheme.com
*/
/* =============================================================================
	max-width 1200px
// ========================================================================== */
@media only screen and (max-width: 1200px) {
  .short_text {
    padding: 0;
  }
}
/* =============================================================================
	max-width 1170px
// ========================================================================== */
@media only screen and (max-width: 1170px) {
  .k2t-body .k2t-content,
  .k2t-title-bar {
    padding-left: 15px;
    padding-right: 15px;
  }
  .k2t-footer .k2t-bottom .k2t-row [class*="col-"],
  .k2t-footer .k2t-bottom .k2t-row > div:first-child > aside {
    padding-left: 15px;
  }
  .k2t-footer .k2t-bottom .k2t-row [class*="col-"],
  .k2t-footer .k2t-bottom .k2t-row > div:last-child > aside {
    padding-right: 15px;
  }
  .k2t-footer .k2t-info .k2t-row {
    margin: 0;
  }
  .k2t-menu > li {
    padding: 0;
  }
  .k2t-header {
    padding: 0 15px;
  }
}
/* =============================================================================
	max-width 1024px
// ========================================================================== */
@media only screen and (max-width: 1030px) {
  .sec-map.vc_row[data-vc-full-width] {
    overflow: visible;
  }
  .contact-map.vc_column_container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .contact-map.vc_column_container .wpcf7-form p.half-col {
    margin-right: 0;
    width: 49.5%;
  }
  .contact-map.vc_column_container .wpcf7-form p.half-col:nth-child(2n+1) {
    float: right;
  }
}
/* =============================================================================
	max-width 1024px
// ========================================================================== */
@media only screen and (max-width: 1024px) {
  .k2t-footer .k2t-info .k2t-row .text-footer-bottom {
    line-height: normal;
  }
  .k2t-content {
    padding-top: 50px;
  }
  .b-large.style-video .col-9 {
    max-width: auto;
    width: 75%;
  }
  /* Event Listing */
  .event-listing-classic .event-listing-style {
    padding-right: 20px;
  }
  /* Contact */
  .contact-info.vc_column_container {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    margin-bottom: 50px;
    float: inherit;
  }
}
/* =============================================================================
	max-width 992px
// ========================================================================== */
/* =============================================================================
	max-width 800px
// ========================================================================== */
@media only screen and (max-width: 800px) {
  /* ============================ Menu mobile ================================ */
  .admin-bar .mobile-menu-wrap {
    top: 46px !important;
  }
  .k2t-header {
    padding: 0;
  }
  .k2t-header > div:not(.k2t-header-m) {
    display: none;
  }
  .k2t-header .k2t-menu > li {
    padding: 0 15px;
  }
  .k2t-header .k2t-header-m {
    display: block;
    width: 100%;
    float: left;
    background: #010810;
  }
  .k2t-header .k2t-header-m > div {
    float: left;
    line-height: 80px;
    max-height: 80px;
  }
  .k2t-header .k2t-header-m .k2t-menu-m {
    padding-left: 15px;
    width: 16.66666667%;
  }
  .k2t-header .k2t-header-m .k2t-logo-m {
    width: 66.66666667%;
    text-align: center;
  }
  .k2t-header .k2t-header-m .k2t-logo-m .k2t-logo {
    margin-top: 10px;
  }
  .k2t-header .k2t-header-m .k2t-logo-m img {
    display: block;
    max-height: 80px;
    margin: 0 auto;
  }
  .k2t-header .k2t-header-m .k2t-right-m {
    padding-right: 15px;
    width: 16.66666667%;
    text-align: right;
  }
  .k2t-header .k2t-header-m .k2t-right-m > div {
    display: inline-block;
  }
  .k2t-header .k2t-header-m .k2t-right-m i {
    color: #b68c42;
  }
  .k2t-header .k2t-header-m .k2t-right-m i:hover {
    color: #b68c42;
  }
  .k2t-header .k2t-header-m .k2t-right-m .cart-control {
    line-height: 216%;
  }
  .k2t-header .k2t-header-m .k2t-right-m .cart-control i {
    line-height: 168%;
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  .k2t-header .k2t-header-m .mobile-menu-wrap {
    background: #fff;
    position: fixed;
    top: 0;
    left: -260px;
    height: 100%;
    width: 260px;
    overflow-y: scroll;
    -webkit-transition: all 0.3s ease 0.3s;
    -ms-transition: all 0.3s ease 0.3s;
    -moz-transition: all 0.3s ease 0.3s;
    -o-transition: all 0.3s ease 0.3s;
    transition: all 0.3s ease 0.3s;
  }
  .k2t-header .k2t-header-m .mobile-menu-wrap.active {
    left: 0;
    -webkit-transition: all 0.3s ease 0.3s;
    -ms-transition: all 0.3s ease 0.3s;
    -moz-transition: all 0.3s ease 0.3s;
    -o-transition: all 0.3s ease 0.3s;
    transition: all 0.3s ease 0.3s;
  }
  .k2t-header .k2t-header-m .mobile-menu-wrap .mobile-menu-toggle {
    display: block;
    margin: 0;
    padding-right: 13px;
    height: 50px;
    line-height: 50px;
    width: 100%;
    text-align: right;
  }
  .k2t-header .k2t-header-m .mobile-menu-wrap .mobile-menu-toggle i {
    font-size: 150%;
  }
  .k2t-header .k2t-header-m ul,
  .k2t-header .k2t-header-m ol {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .k2t-header .k2t-header-m ul > li,
  .k2t-header .k2t-header-m ol > li {
    line-height: 55px;
  }
  .k2t-header .k2t-header-m ul > li a,
  .k2t-header .k2t-header-m ol > li a {
    padding-left: 20px;
    padding-right: 30px;
  }
  .k2t-header .k2t-header-m ul ul > li,
  .k2t-header .k2t-header-m ol ul > li {
    line-height: 40px;
  }
  .k2t-header .k2t-header-m ul ul > li a,
  .k2t-header .k2t-header-m ol ul > li a {
    padding-left: 30px;
  }
  .k2t-header .k2t-header-m ul ul ul > li a,
  .k2t-header .k2t-header-m ol ul ul > li a {
    padding-left: 45px;
  }
  .k2t-header .k2t-header-m .mobile-menu {
    padding-left: 0;
    max-width: 260px;
  }
  .k2t-header .k2t-header-m ul {
    padding-left: 0;
  }
  .k2t-header .k2t-header-m ul li {
    position: relative;
  }
  .k2t-header .k2t-header-m ul li .wrap-link-item {
    position: relative;
  }
  .k2t-header .k2t-header-m ul li .wrap-link-item:hover > a {
    background: #b68c42;
    color: #fff !important;
  }
  .k2t-header .k2t-header-m ul li.active > .wrap-link-item a,
  .k2t-header .k2t-header-m ul li.current-menu-ancestor > .wrap-link-item a {
    background: #b68c42;
    color: #fff;
  }
  .k2t-header .k2t-header-m ul a {
    display: inline-block;
    font-weight: 700;
    font-size: 93.75%;
    font-family: 'News Cycle', sans-serif;
    min-height: 40px;
    line-height: 40px;
    width: 100%;
    text-transform: uppercase;
  }
  .k2t-header .k2t-header-m ul a:hover {
    background: #b68c42;
    color: #fff;
  }
  .k2t-header .k2t-header-m ul.mobile-menu > li > .wrap-link-item a {
    font-size: 106.25%;
    min-height: 55px;
    line-height: 55px;
  }
  .k2t-header .k2t-header-m ul .menu-item-has-children > .wrap-link-item .open-sub-menu {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 40px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
  }
  .k2t-header .k2t-header-m ul .menu-item-has-children > .wrap-link-item .open-sub-menu:before {
    color: #252525;
    display: inline-block;
    content: '\f2f9';
    font-family: 'Material-Design-Iconic-Font';
    font-size: inherit;
    text-rendering: auto;
    -webkit-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .k2t-header .k2t-header-m ul .menu-item-has-children.current-menu-ancestor > .wrap-link-item .open-sub-menu:before,
  .k2t-header .k2t-header-m ul .menu-item-has-children:hover > .wrap-link-item .open-sub-menu:before {
    color: #fff;
  }
  .k2t-header .k2t-header-m ul.sub-menu {
    display: none;
  }
  .k2t-header .m-trigger .hamburger {
    padding: 0;
  }
  .k2t-header .m-trigger .hamburger.is-active .hamburger-inner:after {
    top: 20px;
  }
  .k2t-header .m-trigger .hamburger-box {
    height: 13px;
  }
  .k2t-header .m-trigger .hamburger-box:hover .hamburger-inner,
  .k2t-header .m-trigger .hamburger-box:hover .hamburger-inner:before,
  .k2t-header .m-trigger .hamburger-box:hover .hamburger-inner:after {
    background: #b68c42;
  }
  .k2t-header .m-trigger .hamburger-inner,
  .k2t-header .m-trigger .hamburger-inner:before,
  .k2t-header .m-trigger .hamburger-inner:after {
    background: #b68c42;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    height: 2px;
    width: 20px;
  }
  .k2t-header .m-trigger .hamburger-inner:before {
    top: 5px;
  }
  .k2t-header .m-trigger .hamburger-inner:after {
    top: 10px;
  }
  .k2t-header.fixed {
    position: relative;
  }
  /* Blog */
  .k2t-content .k2t-blog,
  .k2t-content .k2t-sidebar,
  .k2t-content:not(.no-sidebar) .k2t-main,
  .single-post-k-event .right-sidebar .event-sidebar {
    width: 100%;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .b-large.style-video .col-9 {
    width: 100%;
  }
  .b-large.style-video .col-9 .post-item.video-listing {
    margin-top: 0;
    margin-bottom: 30px;
  }
  .b-large.style-video .col-3 {
    width: 100%;
    float: left;
  }
  .b-large.style-video .col-3 .k-blog-carousel {
    max-width: 100% !important;
    float: left;
  }
  .b-large .k2t-blog-post .shortcode-blog-large .entry-content {
    padding: 30px;
  }
  /* Event Listing */
  .event-listing-classic .event-listing-style {
    padding-right: 10px;
  }
  .event-meta .event-time {
    margin-right: 15px;
  }
  /* Footer */
  .k2t-footer .k2t-wrap .k2t-row .col-3 {
    width: 50%;
  }
  /* Search box */
  .k2t-searchbox .searchform input {
    min-width: 100%;
  }
  /*  ==== Slick Video Listing ===*/
  .col-3 .k-blog-carousel {
    width: 100%;
  }
  .col-3 .k-blog-carousel .video-listing {
    width: 33.333% !important;
    padding: 5px;
  }
}
/* =============================================================================
	max-width 768px
// ========================================================================== */
@media only screen and (max-width: 768px) {
  /* Pricing Table */
  section.k2t-pricing div.pricing-column {
    width: 50% !important;
    border-bottom: 1px solid #1e2d3d;
  }
  .k2t-pricing .pricing-column:nth-child(2n) {
    border-right: none;
  }
  /* Blog */
  .b-masonry .masonry-layout[class*="column-"] .hentry {
    width: 100%;
  }
  /* Teacher Listing */
  .teacher-listing.t-grid.teacher-grid-style .post-k-teacher {
    width: 50%;
  }
  .event-listing-classic .event-listing-style {
    padding-right: 0;
  }
  .col-7.event-listing-classic,
  .col-5.event-classic-thumb {
    width: 100%;
    float: left;
  }
  .col-5.event-classic-thumb {
    display: none;
  }
  /* Gallery*/
  .k2t-gallery-shortcode .isotope-no-padding.isotope-4-columns .isotope-selector {
    width: 50%;
  }
  .k2t-gallery-shortcode .isotope-no-padding.isotope-4-columns .isotope-selector.gallery-1,
  .k2t-gallery-shortcode .isotope-no-padding.isotope-4-columns .isotope-selector.gallery-2 {
    width: 50%;
  }
  .k2t-gallery-shortcode .isotope-grid.isotope-6-columns .isotope-selector,
  .k2t-gallery-shortcode .isotope-grid.isotope-5-columns .isotope-selector,
  .k2t-gallery-shortcode .isotope-grid.isotope-4-columns .isotope-selector,
  .k2t-gallery-shortcode .isotope-grid.isotope-3-columns .isotope-selector,
  .k2t-gallery-shortcode .isotope-grid.isotope-2-columns .isotope-selector {
    width: 50%;
  }
  /* === Artist VC === */
  .vc_row.vc_inner.k-teacher-shortcode .vc_column_container.vc_col-sm-4,
  .vc_row.vc_inner.k-teacher-shortcode .vc_column_container.vc_col-sm-8 {
    width: 100%;
  }
  .vc_row.vc_inner.k-teacher-shortcode .vc_column_container.vc_col-sm-8 .vc_column-inner {
    padding-left: 0;
  }
}
/* =============================================================================
	max-width 640px
// ========================================================================== */
@media only screen and (max-width: 640px) {
  /* === Artist VC === */
  .vc_row.vc_inner.k-teacher-shortcode .vc_column_container.vc_col-sm-4 {
    width: 100%;
    margin-bottom: 30px;
  }
  .vc_row.vc_inner.k-teacher-shortcode .vc_column_container.vc_col-sm-8 .vc_column-inner {
    padding-left: 0;
  }
  .vc_row.vc_inner.k-teacher-shortcode .vc_column_container.vc_col-sm-8 {
    width: 100%;
  }
}
/* =============================================================================
	max-width 600px
// ========================================================================== */
@media only screen and (max-width: 600px) {
  .single-post-k-teacher .teacher-entry-meta {
    padding: 20px 50px 20px 15px;
  }
  /* Footer */
  .k2t-footer .k2t-info {
    padding: 30px 0 0;
  }
  .k2t-footer .k2t-info .k2t-row [class*='col-'] {
    width: 100%;
    margin-bottom: 20px;
  }
  .k2t-footer .k2t-info .k2t-row [class*='col-'] img {
    float: none;
  }
  .k2t-footer .k2t-info .k2t-social-share {
    width: 100%;
  }
  .k2t-footer .k2t-info .k2t-social-share.social ul li {
    float: none;
    display: inline-block;
  }
}
/* =============================================================================
	max-width 568px
// ========================================================================== */
@media only screen and (max-width: 568px) {
  .k2t-header .k2t-header-m .k2t-menu-m {
    padding-left: 10px;
    width: 25%;
  }
  .k2t-header .k2t-header-m .k2t-logo-m {
    width: 50%;
  }
  .k2t-header .k2t-header-m .k2t-right-m {
    padding-right: 10px;
    width: 25%;
  }
  .k2t-header .search-box {
    margin: 0;
  }
  /* Teacher Detail */
  .teacher-skill [class*='col-'] {
    width: 50%;
    margin-bottom: 30px;
  }
  /* Footer */
  .k2t-footer .k2t-bottom .k2t-row [class*="col-"] {
    width: 100%;
  }
  .contact-map.vc_column_container .wpcf7-form p.half-col {
    margin-right: 0;
    width: 100%;
  }
  .contact-map.vc_column_container .wpcf7-form p.half-col:nth-child(2n+1) {
    float: left;
  }
}
/* =============================================================================
	max-width 480px
// ========================================================================== */
@media only screen and (max-width: 480px) {
  /* Pricing Table */
  section.k2t-pricing div.pricing-column {
    width: 100% !important;
    margin-bottom: 30px;
  }
  .k2t-pricing .pricing-column {
    border-right: none;
  }
  /* Teacher Detail */
  .single-post-k-teacher .teacher-entry-meta {
    padding: 15px 60px 15px 15px;
    margin: 0;
    width: 100%;
    float: left;
  }
  .single-post-k-teacher .teacher-entry-meta .teacher-top-meta .teacher-social {
    top: 0;
    right: 0;
  }
  .single-post-k-teacher .teacher-entry-thumb {
    width: 100%;
    margin-right: 0;
  }
  .teacher-skill [class*='col-'] {
    width: 50%;
  }
  /* Teacher Listing */
  .teacher-listing.t-grid.teacher-grid-style .post-k-teacher {
    width: 100%;
  }
  /* Shortcode blog large */
  .b-large .k2t-blog-post .shortcode-blog-large .entry-content {
    padding: 15px;
  }
  /* Gallery */
  .k2t-gallery-shortcode .isotope-no-padding.isotope-4-columns .isotope-selector {
    width: 100%;
  }
  .k2t-gallery-shortcode .isotope-no-padding.isotope-4-columns .isotope-selector.gallery-1,
  .k2t-gallery-shortcode .isotope-no-padding.isotope-4-columns .isotope-selector.gallery-2 {
    width: 100%;
  }
  .k2t-gallery-shortcode .isotope-grid.isotope-6-columns .isotope-selector,
  .k2t-gallery-shortcode .isotope-grid.isotope-5-columns .isotope-selector,
  .k2t-gallery-shortcode .isotope-grid.isotope-4-columns .isotope-selector,
  .k2t-gallery-shortcode .isotope-grid.isotope-3-columns .isotope-selector,
  .k2t-gallery-shortcode .isotope-grid.isotope-2-columns .isotope-selector {
    width: 100%;
  }
}
/* =============================================================================
	max-width 320px
// ========================================================================== */
@media only screen and (max-width: 320px) {
  .teacher-skill [class*='col-'] {
    width: 100%;
  }
}
