/*

Theme Name: stevecadey
Theme URI: http://demo.lunartheme.com/stevecadey/
Author: lunartheme
Author URI: http://lunartheme.com
Description: Main theme.
Version: 1.0.0

*/
/* =============================================================================
// TABLE OF CONTENTS
// -----------------------------------------------------------------------------
//   01. Reset
//   02. Typography
//   03. General class
//   04. Layout
//	 05. Carousel
//   06. Header
//   07. Titlebar
//   08. Social
//   09. Widget
//   10. Footer
//   11. Blog single
//   12. Blog large archive
//   13. Audio Style
//   14. Shadow style
//   15. 3rd plugin style
// ========================================================================== */
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,700);
@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,900italic,900,700italic,700,400italic,300italic,300,100italic,100);
@font-face {
  font-family: 'Montserrats';
  src: url('../fonts/Montserrat-Light.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/Montserrat-Light.ttf') format('truetype'), url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Light.woff2') format('woff2'), url('../fonts/Montserrat-Light.woff') format('woff');
}
/*--------------------------------------------------------------
	01. Reset
--------------------------------------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
html {
  font-size: 16px;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http: //clagnut.com/blog/348/#c790 */
  overflow-x: hidden;
  overflow-y: scroll;
  /* Keeps page centered in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
*,
*:before,
*:after {
  /* apply a natural box layout model to all elements; see http: //www.paulirish.com/2012/box-sizing-border-box-ftw/ */
  -webkit-box-sizing: border-box;
  /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http: //caniuse.com/#search=box-sizing */
  -moz-box-sizing: border-box;
  /* Still needed for Firefox 28; see http: //caniuse.com/#search=box-sizing */
  box-sizing: border-box;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-block;
}
/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
body {
  background: #020f1d;
  /* Fallback for when there is no custom background color defined. */
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 210%;
  font-size: 16px;
  color: #fff;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}
table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0;
}
table,
th,
td {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  margin-bottom: 24px;
  width: 100%;
}
th,
td {
  padding: 6px;
}
caption,
th,
td {
  font-weight: normal;
  text-align: left;
}
th {
  border-width: 0 1px 1px 0;
  font-weight: bold;
}
td {
  border-width: 0 1px 1px 0;
}
caption,
th,
td {
  font-weight: normal;
  text-align: left;
}
a {
  color: #3cbfae;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
a:hover,
a:focus {
  color: #db2d8e;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
a img {
  border: 0;
}
/*--------------------------------------------------------------
	02. Typography
--------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-family: 'News Cycle', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 1.3em;
  letter-spacing: 0;
  margin-bottom: 15px;
  text-transform: inherit;
}
h1,
.h1 {
  font-size: 200%;
}
h2,
.h2 {
  font-size: 150%;
}
h3,
.h3 {
  font-size: 137.5%;
}
h4,
.h4 {
  font-size: 125%;
}
h5,
.h5 {
  font-size: 81.25%;
}
h6,
.h6 {
  font-size: 68.75%;
}
p {
  margin-bottom: 10px;
}
b,
strong {
  font-weight: 700;
}
dfn,
cite,
em,
i {
  font-style: italic;
}
q {
  display: block;
}
blockquote,
q {
  background-color: #111d2a;
  line-height: 202%;
  font-size: 121.4285%;
  font-family: 'Montserrats';
  font-style: italic;
  font-weight: 300;
  margin-bottom: 30px;
  padding: 25px;
  position: relative;
}
blockquote * {
  line-height: 202%;
  padding: 0;
  margin: 0;
}
address {
  margin: 0 0 1.5em;
}
pre {
  background: #f6f6f6;
  color: #666;
  font-size: 100%;
  margin-bottom: 20px;
  max-width: 100%;
  overflow: auto;
  padding: 15px;
}
code,
kbd,
tt,
var {
  font-size: 100%;
}
abbr,
acronym {
  border-bottom: 1px dotted #db2d8e;
  cursor: help;
}
mark,
ins {
  background: #f6f6f6;
  color: #db2d8e;
  text-decoration: none;
}
small {
  font-size: 75%;
}
big {
  font-size: 125%;
}
ul,
ol {
  padding-left: 14px;
}
ol {
  margin: 0 0 1.5em 3em;
}
li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 0.5em;
}
dt {
  font-weight: bold;
}
dd {
  margin: 1.3em;
}
img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
  vertical-align: middle;
  border: 0;
  margin: 0 auto;
}
figure {
  margin: 0;
}
table {
  margin: 0 0 1.5em;
  width: 100%;
}
th {
  font-weight: bold;
}
pre,
code {
  font-family: 'Montserrat', Menlo, Consolas, monospace;
}
hr {
  background-color: #db2d8e;
  height: 1px;
  padding: 0;
  margin: 25px 0;
  clear: both;
  border: 0;
}
::selection {
  color: #fff;
  background-color: #db2d8e;
}
::-moz-selection {
  color: #fff;
  background-color: #db2d8e;
}
/*--------------------------------------------------------------
	Forms
--------------------------------------------------------------*/
button,
input,
select,
textarea {
  border: 0;
  font-size: 125%;
  /* Corrects font size not being inherited in all browsers */
  max-width: 100%;
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  outline: 0;
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */
}
button,
input:not(input[type='checkbox']):not(input[type='radio']),
select,
textarea {
  -webkit-appearance: none;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.k2t-btn {
  background: #3cbfae;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 87.5%;
  font-weight: 700;
  height: 50px;
  line-height: 50px;
  min-width: 171px;
  text-align: center;
  outline: 0;
  text-transform: uppercase;
}
.k2t-btn.medium {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  height: 40px;
  line-height: 40px;
  min-width: 150px;
  text-align: center;
}
.k2t-btn.small {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  height: 30px;
  line-height: 40px;
  min-width: 130px;
  text-align: center;
}
.k2t-btn:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  -webkit-box-shadow: 0px 0px 50px 5px rgba(60, 191, 174, 0.5);
  -ms-box-shadow: 0px 0px 50px 5px rgba(60, 191, 174, 0.5);
  -o-box-shadow: 0px 0px 50px 5px rgba(60, 191, 174, 0.5);
  -moz-box-shadow: 0px 0px 50px 5px rgba(60, 191, 174, 0.5);
  box-shadow: 0px 0px 50px 5px rgba(60, 191, 174, 0.5);
}
.k2t-btn:hover {
  color: #fff;
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
  -webkit-appearance: textfield;
  /* Addresses appearance set to searchfield in S5, Chrome */
  -webkit-box-sizing: content-box;
  /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  background: #2a2a2a;
  font-family: 'Montserrat', sans-serif;
  color: #656363;
  padding: 17px 12px;
  width: 100%;
  float: left;
  font-size: 87.5%;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #db2d8e;
}
textarea {
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
  width: 100%;
  height: auto;
}
select {
  border: 0 solid transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* some global setting */
/*--------------------------------------------------------------
	03. General class
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
  margin-bottom: 10px;
}
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
  margin-bottom: 10px;
}
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100% !important;
}
.wp-caption img[class*="wp-image-"] {
  display: inline;
  margin: 0 auto;
}
.wp-caption-text {
  text-align: center;
}
.wp-caption .wp-caption-text {
  color: #898989;
  font-size: 70%;
  font-style: italic;
  font-weight: 300;
  margin-top: 12px;
  margin-bottom: 64px;
}
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  -ms-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 100%;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 9999;
  /* Above WP toolbar */
}
.gallery {
  margin-left: -5px !important;
  margin-right: -5px !important;
  margin-bottom: 72px !important;
}
.gallery.gallery-columns-3 .gallery-item {
  width: 33.33333333% !important;
}
.gallery img {
  border: none !important;
}
.gallery .gallery-item {
  padding-left: 5px;
  padding-right: 5px;
}
.gallery .gallery-caption {
  display: none;
}
.sticky {
  z-index: 100;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*--------------------------------------------------------------
	04. Layout
--------------------------------------------------------------*/
.col-1 {
  float: left;
  min-height: 1px;
  width: 8.33333333%;
}
.col-2 {
  float: left;
  min-height: 1px;
  width: 16.66666667%;
}
.col-3 {
  float: left;
  min-height: 1px;
  width: 25%;
}
.col-4 {
  float: left;
  min-height: 1px;
  width: 33.33333333%;
}
.col-5 {
  float: left;
  min-height: 1px;
  width: 41.66666667%;
}
.col-6 {
  float: left;
  min-height: 1px;
  width: 50%;
}
.col-7 {
  float: left;
  min-height: 1px;
  width: 58.33333333%;
}
.col-8 {
  float: left;
  min-height: 1px;
  width: 66.66666667%;
}
.col-9 {
  float: left;
  min-height: 1px;
  width: 75%;
}
.col-10 {
  float: left;
  min-height: 1px;
  width: 83.33333333%;
}
.col-11 {
  float: left;
  min-height: 1px;
  width: 91.66666667%;
}
.col-12 {
  float: left;
  min-height: 1px;
  width: 100%;
}
.k2t-body {
  margin: 0 auto;
  background: #ffffff;
}
.k2t-wrap {
  margin: auto;
  width: 100%;
  max-width: 1170px;
}
.k2t-content {
  position: relative;
  z-index: 2;
  padding-top: 100px;
}
.k2t-content.no-sidebar .k2t-blog,
.k2t-content.no-sidebar .k2t-main {
  width: 100%;
}
.k2t-content.left-sidebar .k2t-sidebar {
  float: left;
  padding-right: 15px;
}
.k2t-content.left-sidebar .k2t-blog {
  float: right;
  padding-left: 15px;
}
.k2t-content.left-sidebar .k2t-main {
  float: right;
  padding-left: 15px;
}
.k2t-content.right-sidebar .k2t-sidebar {
  float: right;
  padding-left: 15px;
}
.k2t-content.right-sidebar .k2t-blog {
  float: left;
  padding-right: 15px;
}
.k2t-content.right-sidebar .k2t-main {
  float: left;
  padding-right: 15px;
}
.k2t-content .k2t-blog {
  width: 75.5%;
}
.k2t-content .k2t-blog .k2t-blog-inner {
  background: transparent;
}
.k2t-content .k2t-blog .post-item .post-inner {
  background-color: #111d2a;
}
.k2t-content .k2t-blog .post-item .post-inner.post-video {
  background-color: transparent;
}
.k2t-content .k2t-blog .post-item .post-inner.post-video .entry-title {
  margin-bottom: 35px;
}
.k2t-content .k2t-sidebar {
  width: 24.5%;
  float: left;
}
.k2t-content .k2t-sidebar .k2t-sidebar-inner {
  background: transparent;
}
.k2t-content:not(.no-sidebar) .k2t-main {
  width: 75.5%;
}
.post-video .flx-entry-thumb .date-blog {
  display: none;
}
body.page .k2t-content > .k2t-wrap {
  padding: 0;
}
body.page .k2t-content .content-page > p {
  margin-bottom: 0;
}
.content-page {
  text-align: center;
  font-size: 0;
  line-height: 0;
}
.vc_row {
  font-size: 16px;
  line-height: 210%;
  text-align: left;
}
.vc_row:not([data-vc-full-width='true']) {
  max-width: 1200px;
}
.vc_row.vc_row-flex {
  margin: 0 auto;
}
.vc_row.vc_row-has-fill .wrap-stretch-row {
  max-width: 1170px;
  margin: 0 auto;
}
.vc_row .wpb_button,
.vc_row .wpb_content_element,
.vc_row ul.wpb_thumbnails-fluid > li {
  margin-bottom: 0;
}
.vc_row.vc_inner {
  margin-left: 0;
  margin-right: 0;
}
.mask-gradient {
  position: relative;
}
.mask-gradient .vc_column-inner:hover:before {
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.mask-gradient .vc_column-inner:before {
  background: rgba(0, 0, 0, 0.4);
  background: -webkit-linear-gradient(right,rgba(0,0,0,0.8),rgba(0,0,0,0) );
  background: -o-linear-gradient(right,rgba(0,0,0,0.8),rgba(0,0,0,0.0) );
  background: -moz-linear-gradient(right,rgba(0,0,0,0.8),rgba(0,0,0,0) );
  background: linear-gradient(to right, rgba(0,0,0,0.8),rgba(0,0,0,0) );
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 1;
  -webkit-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.mask-gradient .vc_column-inner > * {
  position: relative;
  z-index: 2;
}
.mask-0-4:before {
  background: rgba(0, 0, 0, 0.4);
  content: '';
  display: block !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.mask-0-4 > * {
  position: relative;
  z-index: 2;
}
.column-4 .post-item {
  max-width: 292px;
}
/* ================ 404 page ================= */
.error404 {
  background: url('../img/404.jpg') no-repeat top left;
  position: relative;
}
.error404 .k2t-not-found {
  position: absolute;
  top: calc( 50% + 300px );
  top: -webkit-calc( 50% + 300px );
  top: -moz-calc( 50% + 300px );
  left: -moz-calc( 50% - 190px );
  left: -webkit-calc( 50% - 190px );
  left: calc( 50% - 190px );
}
.mejs-controls .mejs-button button {
  min-width: auto;
}
.short_text {
  padding: 10px 180px 40px;
}
/* ====== Page Loader =========*/
/*--------------------------------------------------------------
	05. Header
--------------------------------------------------------------*/
.owl-carousel + p,
.owl-carousel + h1,
.owl-carousel + h2,
.owl-carousel + h3,
.owl-carousel + h4,
.owl-carousel + ul,
.owl-carousel + ol,
.owl-carousel + blockquote,
.owl-carousel + q {
  margin-top: 35px;
}
.owl-carousel {
  margin-bottom: 15px;
}
.owl-item {
  float: left;
}
.owl-nav {
  position: absolute;
  top: 50%;
  height: 0;
  width: 100%;
}
.owl-nav .owl-prev,
.owl-nav .owl-next {
  background: #3cbfae;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 30px;
  line-height: 40px;
  height: 40px;
  width: 40px;
  text-align: center;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transform: translateY(-20px);
}
.owl-nav .owl-prev:hover,
.owl-nav .owl-next:hover {
  background: #db2d8e;
}
.owl-nav .owl-prev i,
.owl-nav .owl-next i {
  line-height: 40px;
}
.owl-nav .owl-prev {
  float: left;
  margin-left: 20px;
}
.owl-nav .owl-next {
  float: right;
  margin-right: 20px;
}
.owl-nav.disabled {
  display: none;
}
.owl-dots {
  position: absolute;
  left: 50%;
  bottom: 41px;
  height: 0;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.owl-dots .owl-dot {
  float: left;
  margin-right: 20px;
  line-height: 10px;
  height: 10px;
}
.owl-dots .owl-dot:last-child {
  margin-right: 0;
}
.owl-dots .owl-dot.active span,
.owl-dots .owl-dot:hover span {
  background: #db2d8e;
  border-color: #db2d8e;
}
.owl-dots .owl-dot span {
  border: 1px solid #e1e1e1;
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  width: 10px;
}
/*--------------------------------------------------------------
	05. Header
--------------------------------------------------------------*/
.admin-bar .k2t-header.fixed {
  margin-top: 32px;
}
.admin-bar .k2t-header .sticky {
  top: 32px !important;
}
.k2t-header {
  margin: 0 auto;
  position: relative;
  width: 100%;
  z-index: 9999;
  height: auto !important;
  /* ======== Sosial ======= */
}
.k2t-header .k2t-header-top {
  height: 50px;
  line-height: 50px;
  background: #111d2a;
}
.k2t-header .k2t-header-top a {
  color: #fff;
}
.k2t-header .k2t-header-top a:hover {
  color: #db2d8e;
}
.k2t-header .k2t-logo {
  display: block;
  margin-top: 16px;
  margin-bottom: 14px;
}
.k2t-header .k2t-logo img {
  max-height: 80px;
}
.k2t-header * {
  box-sizing: border-box;
}
.k2t-header:before {
  background: transparent;
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  z-index: 999;
}
.k2t-header:after {
  content: '';
  clear: both;
  display: block;
  visibility: hidden;
}
.k2t-header.full-width .k2t-header-top .k2t-wrap,
.k2t-header.full-width .k2t-header-mid .k2t-wrap,
.k2t-header.full-width .k2t-header-bottom .k2t-wrap {
  max-width: 100%;
  padding: 0 15px;
}
.k2t-header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}
.k2t-header > div {
  margin: 0 auto;
  width: 100%;
}
.k2t-header .sticky {
  background-color: #020f1d;
  position: fixed;
  top: 0;
  left: 0;
}
.k2t-header .align-right > :last-child {
  margin-right: 0;
}
.k2t-header ul.social {
  padding-left: 0;
}
.k2t-header ul.social li {
  list-style: none;
  display: inline-block;
  padding-right: 10px;
}
.h-element {
  display: inline-block;
  max-width: 100%;
  text-align: left;
  vertical-align: middle;
}
/* k2t-menu */
.k2t-menu {
  padding-left: 0;
}
.k2t-menu > li {
  display: inline-block;
  font-weight: 400;
  height: 90px;
  line-height: 90px;
  padding: 0 10px;
}
.k2t-menu > li a {
  color: #fff;
  padding: 0 10px;
}
.k2t-menu > li a:hover {
  color: #b68c3c;
}
.k2t-menu > li.current-menu-ancestor > a,
.k2t-menu > li.current-menu-item > a,
.k2t-menu > li:hover > a {
  color: #b68c3c;
  background: url('../img/line.png') repeat-x center center;
}

.k2t-menu > li.current-menu-ancestor ul li.current-menu-item a,
.k2t-menu > li.current-menu-item ul li.current-menu-item a,
.k2t-menu > li:hover ul li.current-menu-item a {
  color: #b68c3c;
}
.k2t-menu li {
  list-style: none;
  position: relative;
  text-transform: uppercase;
}
.k2t-menu li:hover > ul {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.k2t-menu li ul.sub-menu {
  background: rgba(2, 16, 29, 0.8);
}
.k2t-menu li ul {
  position: absolute;
  left: 0;
  top: 100%;
  width: 310px;
  height: auto;
  -webkit-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  opacity: 0;
  z-index: 999;
  padding-left: 0;
}
.k2t-menu li ul li {
  padding: 20px 30px;
}
.k2t-menu li ul li a {
  display: block;
  font-weight: 300;
  line-height: 20px;
}
.k2t-menu li ul li a:hover {
  color: #b68c3c;
  text-indent: 5px;
}
.k2t-menu li ul li ul {
  top: 0%;
  left: 295px;
}
.k2t-menu .k2t-megamenu {
  position: initial;
}
.k2t-menu .k2t-megamenu:hover .mega-container,
.k2t-menu .k2t-megamenu:hover ul {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.k2t-menu .k2t-megamenu .mega-container {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.k2t-menu .mega-container {
  background: rgba(2, 16, 29, 0.8);
  position: absolute;
  padding: 25px 0 30px;
  left: 0;
  width: 100%;
  z-index: 999;
}
.k2t-menu .mega-container > ul {
  display: table;
  table-layout: fixed;
  max-width: 1170px;
  margin: 0 auto;
  padding: 4px 15px 0;
  position: relative;
  width: 100%;
  vertical-align: middle;
}
.k2t-menu .mega-container > ul > li {
  display: table-cell;
  padding: 0 15px;
  position: relative;
}
.k2t-menu .mega-container > ul > li ul.sub-menu {
  background: transparent;
}
.k2t-menu .mega-container > ul > li ul.sub-menu li {
  padding: 0;
  padding-top: 25px;
}
.k2t-menu .mega-container > ul > li .parent-title {
  color: #3cbfae;
}
.k2t-menu .mega-container > ul > li .parent-title:hover {
  color: #db2d8e;
}
.k2t-menu .mega-container > ul > li > a {
  color: #fff;
  min-width: 300px;
  text-transform: uppercase;
  z-index: 9999;
  font-weight: 700;
  font-size: 112.5%;
  font-family: 'Montserrat', sans-serif;
}
.k2t-menu .mega-container > ul > li > a:hover {
  text-indent: 0;
}
.k2t-menu .mega-container > ul > li ul {
  margin-left: 0;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
}
/* k2t-logo */
.k2t-logo .logo-text {
  display: inline-block;
  height: 90px;
  line-height: 90px;
  margin-bottom: 0;
}
.k2t-header-m {
  display: none;
}
.search-box {
  height: 90px;
  line-height: 90px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 156.25%;
  text-align: center;
  cursor: pointer;
}
.search-box .icon_search:hover {
  color: #b68c42;
}
.k2t-searchbox {
  display: table;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 100000;
  visibility: hidden;
}
.k2t-searchbox .hamburger {
  position: absolute;
  top: 30px;
  right: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border: 2px solid #fff;
  z-index: 9999;
}
.k2t-searchbox .hamburger .hamburger-box {
  width: 15px;
  height: 15px;
  display: block;
}
.k2t-searchbox .hamburger .hamburger-inner,
.k2t-searchbox .hamburger .hamburger-inner::before,
.k2t-searchbox .hamburger .hamburger-inner::after {
  background-color: #fff;
  height: 2px;
  width: 15px;
}
.k2t-searchbox .mark {
  background-color: rgba(0, 0, 0, 0.9);
  height: 200%;
  width: 200%;
  position: absolute;
  top: -50%;
  right: -50%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 99;
}
.k2t-searchbox .searchform {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 999;
}
.k2t-searchbox .searchform input {
  background-color: transparent;
  color: #fff;
  font-weight: 300;
  font-size: 125%;
  font-family: 'Montserrats';
  min-width: 750px;
  text-transform: none;
  border: 2px dotted #fff;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
}
.k2t-searchbox .searchform input::-webkit-input-placeholder {
  color: #fff !important;
}
.k2t-searchbox .searchform input:-moz-placeholder {
  /* Firefox 18- */
  color: #fff !important;
}
.k2t-searchbox .searchform input::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff !important;
}
.mode-search .k2t-searchbox {
  opacity: 1;
  visibility: visible;
}
/*--------------------------------------------------------------
	06. Titlebar
--------------------------------------------------------------*/
.k2t-title-bar {
  padding-top: 95px;
  padding-bottom: 120px;
  position: relative;
  text-align: left;
  z-index: 1;
  background: #111d2a url('../img/bgmasonry.jpg') no-repeat;
  background-position: left center;/* new position */
}
.k2t-title-bar > *:not(.mask) {
  position: relative;
  z-index: 2;
}
.k2t-title-bar .mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.k2t-title-bar .mask.pattern {
  background-color: #000;
}
.k2t-title-bar .main-title {
  color: #fff;
  font-weight: 400;
  font-size: 312.5%;
  font-family: 'News Cycle', sans-serif;
  text-transform: uppercase;
}
.k2t-title-bar .main-excerpt {
  color: #fff;
  opacity: 0.75;
  font-family: 'News Cycle', sans-serif;
  margin-bottom: 15px;
}
.k2t-title-bar .main-excerpt span:first-child:not(:last-child) {
  margin-right: 15px;
}
.k2t-title-bar .k2t-breadcrumbs {
  list-style: none;
  font-family: 'News Cycle', sans-serif;
  padding-left: 0;
  opacity: 1;
  text-align: left;
  display: none;
}
.k2t-title-bar .k2t-breadcrumbs li {
  color: #fff;
  display: inline-block;
  font-size: 100%;
}
.k2t-title-bar .k2t-breadcrumbs li:not(:last-child):after {
  content: '/';
  margin-left: 5px;
}
.k2t-title-bar .k2t-breadcrumbs li:first-child {
  padding-left: 0;
}
.k2t-title-bar .k2t-breadcrumbs li * {
  color: #fff;
}
.k2t-title-bar .k2t-breadcrumbs li a:hover {
  color: #b68c42;
}
.k2t-title-bar .k2t-breadcrumbs li.current {
  color: #b68c42;
}
.k2t-title-bar .k2t-breadcrumbs li:last-child {
  padding-right: 5px;
}
.last_string {
  color: #b68c42;
}
/*--------------------------------------------------------------
	07. Social
--------------------------------------------------------------*/
.social ul {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}
.social ul li {
  font-size: 12px;
  float: left;
  text-align: center;
}
.social ul li:not(:last-child) {
  margin-right: 10px;
}
.social ul li:hover a {
  /* background-color: #111; */
  border-color: #b68c42;
  color: #fff;
}
.social ul li a {
  border: 1px solid #b68c42;
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.social ul li a i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.k2t-footer.dark-style .social li a,
.dark-style .social li a {
  color: #b68c42;
}
.k2t-footer.dark-style .social li a:hover,
.dark-style .social li a:hover {
  color: #fff;
}
.k2t-social-share.social {
  float: right;
}
.k2t-social-share.social li a {
  color: #fff;
}
/*--------------------------------------------------------------
	08. Widget
--------------------------------------------------------------*/
.widget {
  margin-bottom: 30px;
}
.widget .widget-title {
  margin-bottom: 25px;
  color: #fff;
  font-weight: 700;
  font-size: 112.5%;
  font-family: 'News Cycle';
  text-transform: uppercase;
}
/*  Widget calendar   */
.widget_calendar {
  padding-left: 0;
  padding-right: 0;
}
.widget_calendar * {
  text-align: center;
}
.widget_calendar .calendar_wrap {
  padding-top: 70px;
  position: relative;
  background: #111d2a;
}
.widget_calendar table {
  border: none;
  padding-bottom: 15px;
}
.widget_calendar table > caption {
  color: #fff;
  display: block;
  position: absolute;
  font-weight: 400;
  font-size: 112.5%;
  font-family: 'Tahoma';
  top: 0;
  left: 0;
  line-height: 70px;
  height: 70px;
  width: 100%;
  text-align: center;
}
.widget_calendar table thead th {
  color: #fff;
  font-weight: 400;
  font-size: 87.5%;
  font-family: 'Lato';
  border: none;
}
.widget_calendar table tbody td {
  color: #fff;
  font-weight: 400;
  font-size: 87.5%;
  font-family: 'Lato';
  border: none;
}
.widget_calendar table tbody td#today {
  background: #3cbfae;
}
.widget_calendar table tbody td#today a {
  color: #fff;
}
.widget_calendar table tbody td a {
  position: relative;
}
.widget_calendar table tbody td a:before {
  content: '';
  background: #db2d8e;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 5px;
  height: 5px;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.widget_calendar table tfoot {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 83px;
  width: 100%;
}
.widget_calendar table tfoot tr {
  display: block;
  overflow: hidden;
  width: 100%;
}
.widget_calendar table tfoot tr td {
  border-width: 0;
  height: 83px;
  line-height: 67px;
  padding-left: 0;
  padding-right: 0;
  width: 14.28571%;
}
.widget_calendar table tfoot tr td#prev,
.widget_calendar table tfoot tr td#next {
  display: block;
  float: left;
}
.widget_calendar table tfoot tr td#prev a,
.widget_calendar table tfoot tr td#next a {
  display: inline-block;
  padding: 0;
  position: relative;
  overflow: hidden;
  height: 69px;
  text-indent: 999px;
}
.widget_calendar table tfoot tr td#prev a:before,
.widget_calendar table tfoot tr td#next a:before {
  content: '\f2fa';
  display: inline-block;
  font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
  font-size: 137.5%;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 42%;
  left: 40%;
  -webkit-transform: translate(-42%, -40%);
  -moz-transform: translate(-42%, -40%);
  -ms-transform: translate(-42%, -40%);
  -o-transform: translate(-42%, -40%);
  transform: translate(-42%, -40%);
  text-indent: 0px;
  color: #fff;
}
.widget_calendar table tfoot tr td.pad {
  display: none;
}
.widget_calendar table tfoot tr td#next {
  float: right;
}
.widget_calendar table tfoot tr td#next a:before {
  content: '\f2fb';
}
.widget_calendar table tfoot tr td a {
  width: 100%;
}
/*  Widget stevecadey recent post   */
.k2t_widget_latest_posts .posts-list {
  overflow: hidden;
}
.k2t_widget_latest_posts .posts-list .post-item {
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  padding: 0;
}
.k2t_widget_latest_posts .posts-list .post-item:hover .post-meta {
  -webkit-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  left: 5px;
}
.k2t_widget_latest_posts .posts-list .post-thumb {
  width: 120px;
  float: left;
  height: 100px;
  margin-right: 10px;
  position: relative;
}
.k2t_widget_latest_posts .posts-list .post-thumb:hover .post-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.k2t_widget_latest_posts .posts-list .post-text .post-meta {
  position: absolute;
  top: 0;
  left: 0;
  width: 52px;
  height: 50px;
  background: #db2d8e;
  text-align: left;
  -webkit-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.k2t_widget_latest_posts .posts-list .post-text .post-meta span {
  width: 40px;
  float: left;
  line-height: 18px;
  text-align: left;
  padding: 5px 0 0 13px;
}
.k2t_widget_latest_posts .posts-list .post-text h4 {
  font-weight: 700;
  font-size: 100%;
  font-family: 'News Cycle';
  line-height: 150%;
  margin-top: -5px;
  text-transform: none;
}
.k2t_widget_latest_posts .posts-list .post-text h4 a {
  color: #fff;
}
.k2t_widget_latest_posts .posts-list .post-text h4 a:hover {
  color: #db2d8e;
}
.searchform.search_default .form-group button {
  height: 40px;
  line-height: 40px;
  margin-top: 20px;
  min-width: 120px;
}
.list-contact {
  color: #959595;
  font-size: 14px;
  list-style: none;
  line-height: 24px;
  padding-left: 0;
}
.list-contact i {
  margin-right: 24px;
}
.list-contact p {
  margin-bottom: 0;
}
.list-open-hour {
  list-style: none;
  padding-left: 0;
  width: 100%;
}
.list-open-hour li {
  background: #252525;
  border-radius: 10px;
  display: block;
  height: 20px;
  line-height: 22px;
  margin-bottom: 10px;
  padding: 0 20px;
  width: 100%;
}
.list-open-hour li:hover {
  background: #db2d8e;
}
.list-open-hour li span {
  color: #fff;
  font-size: 12px;
  font-weight: 300px;
}
.list-open-hour li span:first-child {
  float: left;
  position: relative;
  padding-left: 10px;
}
.list-open-hour li span:first-child:before {
  content: '';
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 3px;
  height: 3px;
}
.list-open-hour li span:last-child:not(:first-child) {
  float: right;
}
.list-open-hour .weekend:hover span:first-child:before {
  background: #fff;
}
.list-open-hour .weekend span:first-child:before {
  background: #db2d8e;
}
/* instagram */
.k2t-sidebar .widget #sb_instagram {
  position: relative;
  padding-bottom: 45px !important;
}
.k2t-sidebar .widget #sb_instagram #sbi_images {
  padding: 1px !important;
}
.k2t-sidebar .widget #sb_instagram .sb_instagram_header {
  color: #a9a9a9;
  margin-bottom: 0 !important;
  padding: 25px 0 0 !important;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transform: translateY(-60px);
  -moz-transform: translateY(-60px);
  -ms-transform: translateY(-60px);
  -o-transform: translateY(-60px);
  transform: translateY(-60px);
}
.k2t-sidebar .widget #sb_instagram .sb_instagram_header .sbi_header_text h3 {
  color: #a9a9a9;
  font-size: 14px !important;
  font-weight: 300;
  margin-left: 22px !important;
  text-transform: none;
}
.k2t-sidebar .widget #sb_instagram .sb_instagram_header .sbi_header_text h3:hover {
  color: #db2d8e;
}
.k2t-sidebar .widget #sb_instagram .sb_instagram_header .sbi_header_img {
  overflow: visible !important;
  height: 53px !important;
}
.k2t-sidebar .widget #sb_instagram .sb_instagram_header .sbi_header_img .sbi_header_img_hover {
  background: transparent !important;
  color: #a9a9a9;
  opacity: 1 !important;
}
.k2t-sidebar .widget #sb_instagram .sb_instagram_header .sbi_header_img .sbi_header_img_hover i {
  font-size: 14px !important;
  left: 0 !important;
  margin-left: 0 !important;
}
.k2t-sidebar .widget #sb_instagram .sb_instagram_header .sbi_header_img img {
  visibility: hidden;
  display: none !important;
}
.sbi_follow_btn {
  background: #f5f5f5;
  border-radius: 15px;
  position: absolute;
  top: -50px;
  right: 0;
  height: 30px;
  width: 90px;
  overflow: hidden;
}
.sbi_follow_btn:hover {
  background-color: #db2d8e;
}
.sbi_follow_btn:hover a {
  color: #fff !important;
}
.sbi_follow_btn a {
  background: transparent !important;
  color: #a3a3a3 !important;
  display: inline-block;
  font-size: 75% !important;
  margin-top: 0 !important;
  padding: 0 !important;
  position: relative;
  height: 30px;
  width: 90px;
  overflow: hidden;
  text-indent: -9999px;
}
.sbi_follow_btn a i {
  display: none;
}
.sbi_follow_btn a:before {
  content: '+';
  position: absolute;
  top: 50%;
  left: 17px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  text-indent: 0;
}
.sbi_follow_btn a:after {
  content: 'follow';
  position: absolute;
  top: 50%;
  left: 31px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  text-indent: 0;
  text-transform: uppercase;
}
.dark-style .widget #sb_instagram {
  margin-left: -15px !important;
  margin-right: -15px !important;
  margin-bottom: 30px !important;
  padding-bottom: 0 !important;
  position: relative;
  width: calc(100% + 30px) !important;
}
.dark-style .widget #sb_instagram .sb_instagram_header {
  color: #fff;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transform: translateY(-13px);
  -moz-transform: translateY(-13px);
  -ms-transform: translateY(-13px);
  -o-transform: translateY(-13px);
  transform: translateY(-13px);
}
.dark-style .widget #sb_instagram .sb_instagram_header .sbi_header_text h3 {
  color: #636363;
  font-size: 14px !important;
  margin-left: 22px !important;
  text-transform: none;
}
.dark-style .widget #sb_instagram .sb_instagram_header .sbi_header_text h3:hover {
  color: #db2d8e;
}
.dark-style .widget #sb_instagram .sb_instagram_header .sbi_header_img {
  overflow: visible !important;
  height: 53px !important;
}
.dark-style .widget #sb_instagram .sb_instagram_header .sbi_header_img .sbi_header_img_hover {
  background: transparent !important;
  opacity: 1 !important;
}
.dark-style .widget #sb_instagram .sb_instagram_header .sbi_header_img .sbi_header_img_hover i {
  font-size: 14px !important;
  left: 0 !important;
  margin-left: 0 !important;
}
.dark-style .widget #sb_instagram .sb_instagram_header .sbi_header_img img {
  visibility: hidden;
  display: none !important;
}
.dark-style .widget #sb_instagram .sbi_follow_btn {
  right: 15px !important;
}
/* twitter */
.k2t-footer.dark-style .widget_aptf_widget .aptf-template-3 .aptf-single-tweet-wrapper {
  border: none !important;
  box-shadow: none !important;
  padding: 0;
}
.k2t-footer.dark-style .widget_aptf_widget .aptf-template-3 .clear {
  margin-bottom: 5px;
}
.k2t-footer.dark-style .widget_aptf_widget .aptf-tweet-date .aptf-timestamp a {
  color: #3cbfae;
  font-size: 14px;
}
.k2t-footer.dark-style .widget_aptf_widget .aptf-tweet-date .aptf-timestamp a:before {
  content: "\f360";
  font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
}
.k2t-footer.dark-style .widget_aptf_widget .aptf-single-tweet-wrapper {
  margin-bottom: 14px;
}
.k2t-footer.dark-style .widget_aptf_widget .aptf-tweet-actions {
  padding: 0;
}
.k2t-footer.dark-style .widget_aptf_widget .aptf-tweet-content {
  color: #494949;
  font-weight: 300;
  font-size: 87.5%;
  font-family: 'Montserrat', sans-serif;
  line-height: 157.14285714%;
  padding-bottom: 5px;
}
.k2t-footer.dark-style .widget_aptf_widget .aptf-tweet-content > a:first-child {
  color: #959595 !important;
  font-weight: 700;
  font-size: 87.5%;
  font-family: 'Montserrat', sans-serif;
}
.k2t-footer.dark-style .widget_aptf_widget .aptf-tweet-content > a:first-child:hover {
  color: #db2d8e !important;
}
.k2t-footer.dark-style .widget_aptf_widget .aptf-tweet-content > a:first-child:before {
  content: '\f360';
  color: #3f3f3f;
  display: inline-block;
  font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
  font-size: 22px;
  margin-right: 12px;
  text-rendering: auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translateY(4px);
  -moz-transform: translateY(4px);
  -ms-transform: translateY(4px);
  -o-transform: translateY(4px);
  transform: translateY(4px);
}
.k2t-footer.dark-style .widget_aptf_widget .aptf-tweet-content a {
  color: #db2d8e !important;
  font-size: 14px;
}
.k2t-footer.dark-style .widget_aptf_widget .aptf-tweet-content a:hover {
  color: #959595 !important;
}
.k2t-footer.dark-style .widget_aptf_widget .aptf-tweet-content .aptf-timestamp a {
  color: #959595 !important;
  font-weight: 300;
  font-size: 87.5%;
  font-family: 'Montserrat', sans-serif;
}
.k2t-footer.dark-style .widget_aptf_widget .aptf-tweet-content .aptf-timestamp a:hover {
  color: #db2d8e !important;
}
/* Mail chimp */
div.mc4wp-form {
  margin-bottom: 30px;
}
div.mc4wp-form input[type='email'],
div.mc4wp-form input[type='text'] {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  width: 100%;
  max-width: 270px;
  text-transform: none;
}
div.mc4wp-form input[type="submit"]:hover {
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
div.mc4wp-form p {
  position: relative;
}
div.mc4wp-form p .icon-submit {
  color: #fff;
  display: block;
  font-size: 18px;
  position: absolute;
  top: 0;
  right: 7px;
  height: 40px;
  line-height: 40px;
  width: 40px;
  text-align: center;
  z-index: 0;
}
div.mc4wp-form p input[type='submit'] {
  background: transparent;
  position: absolute;
  top: 0;
  right: 7px;
  height: 40px;
  width: 40px;
  min-width: 40px;
  overflow: hidden;
  text-indent: -999px;
  z-index: 1;
}
div.mc4wp-form p input[type='submit']:hover + .icon-submit {
  color: #db2d8e;
}
.gift-wrap {
  background-color: #a5b4c3;
  margin: -30px -30px -21px;
  padding: 40px 50px 0;
  overflow: hidden;
  text-align: center;
}
.gift-wrap > p,
.gift-wrap > h4 {
  color: #fff;
  font-weight: 300;
  text-align: center;
}
.gift-wrap > h4 {
  font-size: 30px;
  font-style: normal;
  margin-bottom: 5px;
  text-transform: none;
}
.gift-wrap > p {
  opacity: 0.5;
  line-height: 150%;
}
.gift-wrap > p:last-child {
  margin-bottom: 17px;
}
.gift-wrap > img {
  display: inline-block;
  margin-bottom: 31px;
}
/*--------------------------------------------------------------
	09. Footer
--------------------------------------------------------------*/
.k2t-footer {
  background: #000;
  display: block;
  margin: 0 auto;
  width: 100%;
  float: left;
}
.k2t-footer .k2t-row {
  margin: 0 -15px;
}
.k2t-footer .k2t-bottom {
  width: 100%;
  float: left;
  padding: 90px 0 75px;
  background-color: #000;
}
.k2t-footer.dark-style .widget {
  background: transparent;
  padding-left: 15px;
  padding-right: 15px;
}
.k2t-footer.dark-style .widget:not(:last-child) {
  margin-bottom: 0;
}
.k2t-footer.dark-style .widget.social {
  padding-top: 10px;
}
.k2t-footer.dark-style .widget .widget-title {
  color: #fff;
}
.k2t-footer.dark-style .widget .textwidget {
  color: #494949;
  line-height: 24px;
  font-size: 87.5%;
}
.k2t-footer.dark-style .widget h1,
.k2t-footer.dark-style .widget h2,
.k2t-footer.dark-style .widget h3,
.k2t-footer.dark-style .widget h4,
.k2t-footer.dark-style .widget h5,
.k2t-footer.dark-style .widget h6 {
  margin-bottom: 18px;
  text-transform: uppercase;
}
.k2t-footer.dark-style .widget a {
  color: #959595;
}
.k2t-footer.dark-style .widget a:hover {
  color: #db2d8e;
}
.k2t-footer .k2t-info {
  background-color: #020f1d;
  color: #fff;
  padding: 17px 0 13px;
  text-align: center;
  font-weight: 300;
  font-size: 81.25%;
  font-family: 'Montserrat', sans-serif;
  vertical-align: middle;
  width: 100%;
  float: left;
}
.k2t-footer .k2t-info .k2t-row {
  padding: 0 15px;
}
.k2t-footer .k2t-info .k2t-row .col-left img {
  float: left;
  max-height: 50px;
}
.k2t-footer .k2t-info .k2t-row .col-right {
  float: right;
  padding-top: 7px;
}
.k2t-footer .k2t-info .k2t-row .text-footer-bottom {
  line-height: 60px;
}
.offcanvas-sidebar {
  display: block;
}
.k2t-btt {
  background: #b68c42;
  border-radius: 50%;
  color: #fff;
  display: block;
  font-size: 18px;
  font-weight: 700;
  position: fixed;
  right: 10px;
  bottom: 15px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  z-index: 999;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  text-align: center;
}
.k2t-btt:hover {
  background: #b68c42;
  color: #fff;
}
/*--------------------------------------------------------------
	10. Single blog
--------------------------------------------------------------*/
.k2t-btn.k2t-readmore {
  float: left;
  height: 45px;
  line-height: 45px;
  min-width: 100px;
  text-align: center;
  padding: 0 20px;
  margin-top: 10px;
}
.tagcloud a:last-child .event-dot {
  display: none;
}
.single-post .k2t-blog .post-entry {
  font-size: 87.5%;
  font-family: 'Montserrats';
}
.single-post .k2t-blog .post-entry p {
  line-height: 180%;
}
.single-post .k2t-blog .post-entry p.wp-caption-text {
  margin-top: 23px;
  margin-bottom: 38px;
}
.single-post .k2t-blog .post-entry .wp-caption img {
  display: block;
  max-width: 770px;
  margin: 0 auto;
}
.single-post .k2t-blog .post-entry > p + .wp-caption {
  margin-top: 33px !important;
}
.single-post .k2t-blog .post-entry > p + .gallery {
  margin-top: 23px !important;
}
.single-post .k2t-blog {
  padding: 0;
}
.single-post .k2t-blog .k2t-blog-inner {
  background-color: transparent;
  position: relative;
}
.single-post .k2t-blog .k2t-blog-inner .quote-content .author {
  display: none;
}
.single-post .k2t-blog #main-col {
  margin-bottom: 97px;
}
.single-post .k2t-blog #main-col .entry-box > *:not(.post-entry),
.single-post .k2t-blog #main-col .entry-box .post-entry > *:not(.full-width):not(.gallery) {
  margin-left: auto;
  margin-right: auto;
}
.single-post .k2t-blog #main-col .about-author,
.single-post .k2t-blog #main-col .comments-area {
  margin-left: auto;
  margin-right: auto;
}
.single-post .k2t-blog #main-col .date-blog {
  display: none;
}
.single-post .k2t-blog #main-col .entry-content-single {
  padding-left: 10px;
}
.single-post .k2t-blog #main-col .entry-content-single .top-meta span {
  margin-right: 15px;
  color: #fff !important;
}
.single-post .k2t-blog #main-col .entry-content-single .top-meta span a {
  color: #fff;
  text-transform: capitalize;
}
.single-post .k2t-blog #main-col .entry-content-single .top-meta span.entry-comment i {
  margin-right: 5px;
}
.single-post .k2t-blog #main-col .entry-content-single .top-meta .wpulike .counter a.image:before {
  font-size: 16px;
  color: #fff;
  font-weight: 700;
}
.single-post .k2t-blog #main-col .entry-content-single .top-meta .wpulike .counter a.image-unlike:before {
  font-size: 16px;
  color: #fff;
  margin-right: 5px;
}
.single-post .k2t-blog #main-col .entry-content-single .top-meta .date-meta {
  color: #d4d4d4;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transform: translateY(-12px);
  -moz-transform: translateY(-12px);
  -ms-transform: translateY(-12px);
  -o-transform: translateY(-12px);
  transform: translateY(-12px);
}
.categories-list {
  -webkit-transform: translateY(-12px);
  -moz-transform: translateY(-12px);
  -ms-transform: translateY(-12px);
  -o-transform: translateY(-12px);
  transform: translateY(-12px);
}
.categories-list a {
  color: #bbb;
  display: inline-block;
  font-size: 87.5%;
  font-weight: 300;
  height: 20px;
  line-height: 20px;
  min-width: 0;
  text-align: center;
  padding: 0 15px 0 5px;
  text-transform: capitalize;
}
.categories-list a:hover {
  color: #db2d8e;
}
.categories-list a:not(:last-child) {
  margin-right: 1px;
}
.entry-box .entry-title {
  margin-bottom: 15px;
  text-transform: capitalize;
}
.entry-box .flx-entry-thumb {
  margin-bottom: 20px;
}
.entry-box .post-entry {
  margin: 25px 0 75px;
}
.entry-box iframe {
  width: 100% !important;
}
.bottom-meta {
  margin-bottom: 55px;
  padding-bottom: 7px;
  overflow: hidden;
}
.bottom-meta .share-meta {
  float: right;
  padding-top: 3px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.bottom-meta .share-meta .share-title {
  float: left;
  padding-right: 20px;
}
.bottom-meta .tag-meta {
  width: 100%;
  float: right;
}
.bottom-meta .tag-meta .tagcloud {
  float: right;
}
#main-col .tagcloud a {
  color: #3e5c7c;
  display: inline-block;
  font-size: 87.5%;
  font-weight: 400;
  padding-left: 5px;
}
#main-col .tagcloud a:hover {
  color: #db2d8e;
}
.about-author {
  margin-bottom: 30px;
  padding: 30px 0 20px;
}
.about-author .author-avatar {
  float: left;
}
.about-author .author-infor {
  padding-left: 100px;
}
.about-author .author-info {
  width: calc(100% - 70px);
  float: left;
}
.about-author .author-info h4 {
  float: left;
  margin-bottom: 7px;
  color: #db2d8e;
  font-weight: 400;
  font-size: 112.5%;
  font-family: 'Montserrats';
}
.about-author .author-info .social {
  float: right;
}
.about-author .description {
  color: #bbb;
  width: 100%;
  float: left;
  font-family: 'Montserrats';
}
.comments-area h4.comments-title,
.comments-area h3.comment-reply-title {
  color: #3cbfae;
  font-size: 87.5%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.comments-area .reply-title {
  margin-bottom: 0;
}
.comments-area > .comments-title {
  margin-bottom: 40px;
}
.comments-area > .comments-title span {
  color: #db2d8e;
}
.comments-area > ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 60px;
}
.comments-area > ul li.comment {
  overflow: hidden;
  width: 100%;
  margin-bottom: 12px;
}
.comments-area > ul li.comment > article .avatar {
  width: 70px;
  float: left;
  height: 70px;
}
.comments-area > ul li.comment > article img {
  float: left;
}
.comments-area > ul li.comment > article .comment-top {
  width: calc(100% - 100px);
  float: right;
}
.comments-area > ul li.comment > article .comment-top .comment-box {
  border-left: 1px solid #253546;
  padding-left: 30px;
}
.comments-area > ul li.comment > article .comment-top .comment-meta {
  overflow: hidden;
  width: 100%;
}
.comments-area > ul li.comment > article .comment-top .comment-meta .comment-info {
  float: left;
}
.comments-area > ul li.comment > article .comment-top .comment-meta .comment-info .comment-author {
  display: block;
  font-weight: 400;
  font-size: 112.5%;
  font-family: 'Montserrat', sans-serif;
  color: #db2d8e;
  line-height: 18px;
  padding-top: 8px;
  text-transform: uppercase;
}
.comments-area > ul li.comment > article .comment-top .comment-meta .comment-info > span {
  color: #fff;
  display: block;
  font-size: 87.5%;
  line-height: 14px;
}
.comments-area > ul li.comment > article .comment-top .action-link {
  float: left;
  padding-left: 30px;
  display: inline-flex;
}
.comments-area > ul li.comment > article .comment-top .action-link a {
  color: #fff;
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  -o-transform: translateY(-8px);
  transform: translateY(-8px);
}
.comments-area > ul li.comment > article .comment-top .action-link a:not(:last-child) {
  margin-right: 20px;
}
.comments-area > ul li.comment > article .comment-top .action-link a:hover {
  color: #db2d8e;
}
.comments-area > ul li.comment > article .comment-content {
  margin-top: 18px;
  width: 100%;
  font-size: 87.5%;
  color: #bcbcbc;
}
.comments-area > ul li.comment ul.children {
  padding-left: 96px;
}
.comments-area input[type="text"],
.comments-area input[type="email"],
.comments-area input[type="url"],
.comments-area input[type="password"],
.comments-area input[type="search"],
.comments-area textarea {
  background: #111d2a;
  padding: 0 10px;
  height: 40px;
  text-transform: none;
}
.comments-area textarea {
  font-size: 112.5%;
  font-weight: 300;
  letter-spacing: -0.075em;
  padding: 10px;
}
.comments-area .logged-in-as {
  margin-bottom: 22px;
}
.comments-area .comment-respond .comment-form-author,
.comments-area .comment-respond .comment-form-email {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}
.comments-area .comment-respond .comment-form-comment {
  clear: both;
  margin-bottom: 30px;
  position: relative;
  width: 100%;
  float: left;
}
.comments-area .comment-respond .comment-form-comment textarea {
  line-height: 21px;
  min-height: 168px;
}
.comments-area .comment-respond .comment-form-comment textarea:focus + span {
  color: #db2d8e;
}
.comments-area .comment-respond input[type="submit"] {
  min-width: 170px;
  height: 50px;
  margin-bottom: 30px;
}
.related-posts {
  margin-bottom: 120px;
  width: 100%;
  float: left;
}
.related-posts .related-title {
  margin-bottom: 70px;
  width: 100%;
  text-align: center;
  color: #3cbfae;
  text-transform: uppercase;
}
.related-posts .related-post-wrap {
  width: 100%;
  float: left;
  position: relative;
}
.related-posts .owl-stage-outer {
  padding: 30px 30px 45px;
  margin: -30px -30px -45px;
}
.related-posts .owl-stage-outer .owl-item {
  float: left;
}
.related-posts .related-item {
  background-color: #111d2a;
}
.related-posts .related-item .related-thum {
  margin-bottom: 12px;
}
.related-posts .related-item .top-meta {
  padding: 15px;
}
.related-posts .related-item .categories-list {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.related-posts .related-item h5 {
  font-size: 100%;
  font-weight: 900;
  line-height: 150%;
  margin-bottom: 2px;
}
.related-posts .related-item .date-meta,
.related-posts .related-item .author-meta > * {
  color: #959595;
  display: inline-block;
  font-size: 75%;
  font-style: normal;
  font-weight: 300;
  text-transform: none;
}
.related-posts .related-item .date-meta {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  margin-right: 10px;
}
.related-posts .related-item .date-meta i {
  display: inline-block;
  margin-right: 4px;
}
.related-posts .related-item .author-meta {
  display: inline-block;
  position: relative;
  top: initial;
  left: initial;
  text-transform: uppercase;
}
.related-posts .related-item .author-meta i {
  font-style: normal;
  margin-right: 5px;
}
/*--------------------------------------------------------------
	11. Blog archive
--------------------------------------------------------------*/
/* general for bog */
/* Navigation */
.k2t-navigation {
  margin: 35px 0 100px 0;
  text-align: center;
  width: 100%;
}
.k2t-navigation ul {
  display: inline-block;
  list-style: none;
  width: 97%;
  position: relative;
  border-bottom: 2px solid #fff;
  padding-bottom: 7px;
  margin: 0 1.5%;
}
.k2t-navigation ul li {
  display: inline-block;
  font-size: 87.5%;
  font-weight: 500;
}
.k2t-navigation ul li a {
  color: #fff;
  display: block;
  position: relative;
}
.k2t-navigation ul li a:before {
  content: '';
  background-color: #db2d8e;
  position: absolute;
  bottom: -10px;
  height: 4px;
  width: 0;
  -webkit-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.k2t-navigation ul li a:after {
  content: '';
  background-color: #db2d8e;
  position: absolute;
  bottom: -10px;
  height: 4px;
  width: 0;
  -webkit-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.k2t-navigation ul li a:hover:before {
  left: -10px;
  width: 27px;
  -webkit-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.k2t-navigation ul li a:hover {
  color: #db2d8e;
}
.k2t-navigation ul li a.next:before,
.k2t-navigation ul li a.prev:before {
  content: '';
  background-color: #db2d8e;
  position: absolute;
  bottom: -10px;
  height: 4px;
  width: 0;
  -webkit-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.k2t-navigation ul li a.next:after,
.k2t-navigation ul li a.prev:after {
  content: '';
  background-color: #db2d8e;
  position: absolute;
  bottom: -10px;
  height: 4px;
  width: 0;
  -webkit-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.k2t-navigation ul li a.next:hover:before,
.k2t-navigation ul li a.prev:hover:before {
  left: 0;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.k2t-navigation ul li .current {
  color: #db2d8e;
  cursor: default;
  position: relative;
}
.k2t-navigation ul li .current:after {
  content: '';
  background-color: #db2d8e;
  display: block;
  position: absolute;
  left: -10px;
  bottom: -18px;
  height: 4px;
  width: 27px;
}
.k2t-navigation ul li:not(:last-child) * {
  margin-right: 21px;
}
.k2t-navigation ul li .prev * {
  margin-right: 0;
}
.k2t-navigation ul li .next,
.k2t-navigation ul li .prev {
  -webkit-transform: translateY(1px);
  -moz-transform: translateY(1px);
  -ms-transform: translateY(1px);
  -o-transform: translateY(1px);
  transform: translateY(1px);
  position: absolute;
}
.k2t-navigation ul li .next:hover,
.k2t-navigation ul li .prev:hover {
  color: #db2d8e;
}
.k2t-navigation ul li .prev {
  top: 0;
  left: 0px;
}
.k2t-navigation ul li .next {
  top: 0;
  right: 0px;
}
/* Isotope filter */
.k2t-isotop-filter {
  text-align: center;
  width: 100%;
}
.k2t-isotop-filter .menu-filter {
  list-style: none;
  margin-bottom: 30px;
  padding-left: 0;
  width: 100%;
}
.k2t-isotop-filter .menu-filter li {
  display: inline-block;
  margin-left: 14px;
  margin-right: 14px;
}
.k2t-isotop-filter .menu-filter li a {
  color: #3cbfae;
  display: block;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.k2t-isotop-filter .menu-filter li a:hover {
  color: #db2d8e;
  -webkit-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.k2t-isotop-filter .menu-filter li a:not(.active):before {
  content: '';
  background-color: #db2d8e;
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 0;
  -webkit-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.k2t-isotop-filter .menu-filter li a:not(.active):after {
  content: '';
  background-color: #db2d8e;
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 0;
  -webkit-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.k2t-isotop-filter .menu-filter li a:not(.active):hover:before {
  left: 0;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.k2t-isotop-filter .menu-filter li .active {
  color: #db2d8e;
}
.k2t-isotop-filter .menu-filter li .active:before {
  content: '';
  background-color: #db2d8e;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
}
.b-large .post-item .top-meta .categories-list {
  float: left;
}
.k2t-blog iframe {
  max-width: 100%;
}
.k2t-blog .post-item.sticky .entry-content {
  position: relative;
}
.k2t-blog .post-item.sticky .entry-content:before {
  content: '';
  border: 7px #db2d8e solid;
  border-top-width: 10px;
  border-bottom-color: transparent;
  display: block;
  position: absolute;
  top: 0;
  left: 50px;
  width: 0;
}
/* margin for showing excerpt */
.k2t-content.show-excerpt .post-item .top-meta .author-meta {
  margin-bottom: 17px;
}
.k2t-content.show-excerpt .post-item .blog-content {
  margin-bottom: 29px;
}
/*--------------------------------------------------------------
	12. Blog Grid & Masonry
--------------------------------------------------------------*/
.b-grid .audio-post .flx-entry-thumb {
  position: relative;
}
.b-grid .audio-post .flx-entry-thumb .placeholder {
  opacity: 0;
  filter: alpha(opacity=0);
}
.b-grid .audio-post .flx-entry-thumb iframe {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.b-masonry .audio-post .flx-entry-thumb .placeholder,
.b-large .audio-post .flx-entry-thumb .placeholder {
  display: none;
}
.b-grid .k2t-blog-inner,
.b-masonry .k2t-blog-inner,
.b-grid .grid-layout,
.b-masonry .grid-layout,
.b-grid .masonry-layout,
.b-masonry .masonry-layout {
  margin-left: -15px;
  margin-right: -15px;
}
.b-grid .k2t-blog-inner .post-item,
.b-masonry .k2t-blog-inner .post-item,
.b-grid .grid-layout .post-item,
.b-masonry .grid-layout .post-item,
.b-grid .masonry-layout .post-item,
.b-masonry .masonry-layout .post-item {
  padding-left: 15px;
  padding-right: 15px;
}
.b-grid .column-2 .post-item,
.b-masonry .column-2 .post-item {
  width: 50%;
  float: left;
}
.b-grid .column-3 .post-item,
.b-masonry .column-3 .post-item {
  width: 33.33333333%;
  float: left;
}
.b-grid .column-4 .post-item,
.b-masonry .column-4 .post-item {
  width: 25%;
  float: left;
}
.b-large .post-item,
.b-grid .post-item,
.b-masonry .post-item {
  margin-bottom: 30px;
}
.b-large .post-item .entry-content,
.b-grid .post-item .entry-content,
.b-masonry .post-item .entry-content {
  padding: 20px 25px;
}
.b-large .post-item .quote-content,
.b-grid .post-item .quote-content,
.b-masonry .post-item .quote-content {
  display: block;
}
.b-large .post-item .quote-content blockquote,
.b-grid .post-item .quote-content blockquote,
.b-masonry .post-item .quote-content blockquote {
  margin-bottom: 0;
}
.b-large .post-item .quote-content .author,
.b-grid .post-item .quote-content .author,
.b-masonry .post-item .quote-content .author {
  padding: 0 25px 25px;
}
.b-large .post-item .quote-content .author *,
.b-grid .post-item .quote-content .author *,
.b-masonry .post-item .quote-content .author * {
  color: #bbb;
  margin-right: 3px;
}
.b-large .post-item .quote-content .author a,
.b-grid .post-item .quote-content .author a,
.b-masonry .post-item .quote-content .author a {
  color: #bbb;
}
.b-large .post-item .quote-content .author a:hover,
.b-grid .post-item .quote-content .author a:hover,
.b-masonry .post-item .quote-content .author a:hover {
  color: #db2d8e;
}
.b-large .post-item .quote-content .author i,
.b-grid .post-item .quote-content .author i,
.b-masonry .post-item .quote-content .author i {
  margin-right: 7px;
}
.b-large .post-item .flx-entry-thumb,
.b-grid .post-item .flx-entry-thumb,
.b-masonry .post-item .flx-entry-thumb {
  position: relative;
}
.b-large .post-item .flx-entry-thumb:hover .date-meta,
.b-grid .post-item .flx-entry-thumb:hover .date-meta,
.b-masonry .post-item .flx-entry-thumb:hover .date-meta {
  right: calc( 50% - 50px );
  -webkit-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.b-large .post-item .flx-entry-thumb img,
.b-grid .post-item .flx-entry-thumb img,
.b-masonry .post-item .flx-entry-thumb img {
  width: 100%;
}
.b-large .post-item .flx-entry-thumb .date-meta,
.b-grid .post-item .flx-entry-thumb .date-meta,
.b-masonry .post-item .flx-entry-thumb .date-meta {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 73px;
  height: 58px;
  background: #db2d8e;
  padding-top: 2px;
  z-index: 99999;
  -webkit-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.b-large .post-item .flx-entry-thumb .date-meta span,
.b-grid .post-item .flx-entry-thumb .date-meta span,
.b-masonry .post-item .flx-entry-thumb .date-meta span {
  width: 100%;
  float: left;
  text-align: left;
  padding: 0 20px;
  height: 23px;
  font-size: 112.5%;
}
.b-large .post-item .flx-entry-thumb .mask-item,
.b-grid .post-item .flx-entry-thumb .mask-item,
.b-masonry .post-item .flx-entry-thumb .mask-item {
  z-index: 99;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: rgba(0, 0, 0, 0.3);
}
.b-large .post-item .flx-entry-thumb .mask-item:hover,
.b-grid .post-item .flx-entry-thumb .mask-item:hover,
.b-masonry .post-item .flx-entry-thumb .mask-item:hover {
  background: rgba(0, 0, 0, 0);
}
.b-large .post-item .flx-entry-thumb .mask-item a,
.b-grid .post-item .flx-entry-thumb .mask-item a,
.b-masonry .post-item .flx-entry-thumb .mask-item a {
  display: block;
  width: 100%;
  height: 100%;
}
.b-large .post-item .flx-entry-thumb .mask-item a .mask-icon,
.b-grid .post-item .flx-entry-thumb .mask-item a .mask-icon,
.b-masonry .post-item .flx-entry-thumb .mask-item a .mask-icon {
  position: absolute;
  width: 104px;
  height: 104px;
  background: url('../img/icons/mask-video.png') no-repeat center center;
  top: -webkit-calc( 50% - 50px );
  top: -moz-calc( 50% - 50px );
  top: calc(50% - 50px);
  left: -webkit-calc( 50% - 50px );
  left: -moz-calc( 50% - 50px );
  left: calc(50% - 50px);
}
.b-large .post-item .top-meta .categories-list,
.b-grid .post-item .top-meta .categories-list,
.b-masonry .post-item .top-meta .categories-list {
  margin-bottom: 10px;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.b-large .post-item .top-meta .entry-title,
.b-grid .post-item .top-meta .entry-title,
.b-masonry .post-item .top-meta .entry-title {
  font-size: 112.5%;
  line-height: 150%;
  margin-bottom: 10px;
  text-transform: none;
  font-weight: 400;
}
.b-large .post-item .top-meta .date-meta,
.b-grid .post-item .top-meta .date-meta,
.b-masonry .post-item .top-meta .date-meta,
.b-large .post-item .top-meta .entry-bottom *,
.b-grid .post-item .top-meta .entry-bottom *,
.b-masonry .post-item .top-meta .entry-bottom * {
  color: #bbb;
  display: inline-block;
  font-style: normal;
  margin-right: 3px;
  text-transform: none;
  font-weight: 300;
  font-size: 93.75%;
  font-family: 'Montserrat', sans-serif;
}
.b-large .post-item .top-meta .date-meta i,
.b-grid .post-item .top-meta .date-meta i,
.b-masonry .post-item .top-meta .date-meta i,
.b-large .post-item .top-meta .entry-bottom * i,
.b-grid .post-item .top-meta .entry-bottom * i,
.b-masonry .post-item .top-meta .entry-bottom * i {
  margin-right: 7px;
  font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
}
.b-large .post-item .top-meta .date-meta:hover,
.b-grid .post-item .top-meta .date-meta:hover,
.b-masonry .post-item .top-meta .date-meta:hover,
.b-large .post-item .top-meta .entry-bottom *:hover,
.b-grid .post-item .top-meta .entry-bottom *:hover,
.b-masonry .post-item .top-meta .entry-bottom *:hover {
  color: #db2d8e;
}
.b-large .post-item .top-meta .date-meta,
.b-grid .post-item .top-meta .date-meta,
.b-masonry .post-item .top-meta .date-meta {
  margin-bottom: 13px;
  margin-right: 16px;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.b-large .post-item .top-meta .date-meta i,
.b-grid .post-item .top-meta .date-meta i,
.b-masonry .post-item .top-meta .date-meta i {
  display: inline-block;
  margin-right: 4px;
}
.b-large .post-item .top-meta .author-meta,
.b-grid .post-item .top-meta .author-meta,
.b-masonry .post-item .top-meta .author-meta {
  display: inline-block;
  position: relative;
  top: initial;
  left: initial;
}
.b-large .post-item .top-meta .author-meta:hover *,
.b-grid .post-item .top-meta .author-meta:hover *,
.b-masonry .post-item .top-meta .author-meta:hover * {
  color: #db2d8e;
}
.b-large .post-item .top-meta .blog-content,
.b-grid .post-item .top-meta .blog-content,
.b-masonry .post-item .top-meta .blog-content {
  font-size: 87.5%;
  font-family: 'Montserrats';
  margin-bottom: 15px;
}
.b-large .post-item.video-listing,
.b-grid .post-item.video-listing,
.b-masonry .post-item.video-listing {
  margin-bottom: 60px;
}
.b-large .post-item.video-listing:last-child,
.b-grid .post-item.video-listing:last-child,
.b-masonry .post-item.video-listing:last-child {
  margin-bottom: 100px;
}
.b-grid .column-4 .flx-entry-thumb iframe {
  height: 100%;
}
/*--------------------------------------------------------------
	13. Audio Style
--------------------------------------------------------------*/
/*--------------------------------------------------------------
	14. Shadow style
--------------------------------------------------------------*/
.career-list {
  list-style: none;
  padding-left: 0;
}
.career-list li {
  background: #fff;
  margin-bottom: 30px;
  padding: 19px 30px 0;
  overflow: hidden;
  width: 100%;
}
.career-list li > *:first-child {
  float: left;
}
.career-list li > *:last-child {
  float: right;
}
/*--------------------------------------------------------------
	15. 3rd plugin style
--------------------------------------------------------------*/
/* contact form 7 */
div.wpcf7-mail-sent-ng {
  float: left;
}
.wpb_start_animation.animated {
  visibility: visible;
}
.wpcf7-form ::-webkit-input-placeholder {
  color: #fff;
}
.wpcf7-form :-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}
.wpcf7-form ::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}
.wpcf7-form :-ms-input-placeholder {
  color: #fff;
}
.wpcf7-form input,
.wpcf7-form textarea,
.wpcf7-form select {
  background: #B68C42;
  color: #fff;
  font-weight: 400;
  font-size: 87.5%;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  padding: 10px 20px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -webkit-appearance: none;
}
.wpcf7-form input:focus,
.wpcf7-form textarea:focus,
.wpcf7-form select:focus {
  outline: none;
  color: #fff;
}
.wpcf7-form input[type="date"] {
  padding-right: 40px;
}
.wpcf7-form input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 1;
  filter: alpha(opacity=100);
}
.wpcf7-form input,
.wpcf7-form select {
  height: 50px;
}
.wpcf7-form p {
  position: relative;
  width: 82%;
  float: left;
  margin-bottom: 10px;
}
.wpcf7-form p.half-col {
  display: block;
  width: 40.34%;
  float: left;
  margin-right: 10px;
}
.wpcf7-form p i {
  position: absolute;
  top: 18px;
  right: 20px;
}
.wpcf7-form textarea {
  padding: 20px;
  height: 150px;
}
.wpcf7-form input.wpcf7-submit {
  background: #B68C42;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  padding: 0 30px;
  width: auto;
  height: 50px;
  margin-top: 20px;
  cursor: pointer;
  font-weight: 400;
  font-size: 87.5%;
  font-family: 'Montserrat', sans-serif;
  -webkit-appearance: none;
}
.wpcf7-form-control-wrap {
  width: 100%;
  float: left;
}
.wpcf7-response-output.wpcf7-validation-errors {
  border: none !important;
  width: 100%;
  float: left;
  padding: 0;
}
div.wpcf7-mail-sent-ok {
  border: none ! important;
}
.wpcf7-response-output {
  padding: 0;
  margin: 0;
  display: inline-block;
}
/* ============== WP ULike ============= */
.wpulike {
  vertical-align: inherit;
}
.wpulike .counter a {
  background: none;
  box-shadow: none;
  border: none;
}
.wpulike .counter a.loading:hover {
  background-color: transparent;
}
.wpulike .counter a.image,
.wpulike .counter a.image-unlike {
  background: none;
  padding: 0 2px;
  margin-bottom: 0;
}
.wpulike .counter a.image:before {
  font-family: "FontAwesome";
  content: "\f08a";
  font-size: 15px;
}
.wpulike .counter a.image-unlike:before {
  font-family: "FontAwesome";
  content: "\f004";
  font-size: 15px;
  color: #3cbfae;
}
.wpulike .count-box,
.wpulike .count-box:before {
  border: none;
  color: #db2d8e;
  font-weight: 400;
  font-size: 93.75%;
  line-height: 93.75%;
  margin: 0;
  padding: 0;
  background: transparent;
  min-width: 15px;
}
/* ============ MailChimp ============== */
.mc4wp-form-fields label {
  width: 100%;
  float: left;
  margin-bottom: 23px;
  color: #494949;
  font-size: 14px;
}
.mc4wp-form-fields input[type="submit"] {
  margin-top: 38px;
}
.mc4wp-form-fields input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #656363 !important;
}
.mc4wp-form-fields input::-moz-placeholder {
  /* Firefox 19+ */
  color: #656363 !important;
}
.mc4wp-form-fields input:-ms-input-placeholder {
  /* IE 10+ */
  color: #656363 !important;
}
.mc4wp-form-fields input:-moz-placeholder {
  /* Firefox 18- */
  color: #656363 !important;
}
/* =========== Revolution =========== */
.steve-rev-buy a {
  color: #fff;
}
/* Contact us */
.content-page {
  position: relative;
}
.content-page .sec-map .k2t-heading-inner .heading {
  font-size: 20px;
  font-weight: 400;
}
.contact-info.vc_column_container {
  background: #b68c42;
  position: absolute;
  top: 152px;
  left: 400px;
  z-index: 999;
  max-width: 350px;
  margin: 0 auto;
  padding-top: 30px;
  padding-left: 25px;
  padding-right: 5px;
  padding-bottom: 20px;
}
.contact-info.vc_column_container .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner:hover .vc_icon_element-icon:before {
  color: #fff !important;
}
.contact-info.vc_column_container h4 {
  font-size: 24px;
  font-weight: 400;
  text-transform: capitalize;
}
.contact-info.vc_column_container .address {
  font-size: 16px;
  margin-bottom: 15px;
}
.contact-info.vc_column_container p {
  margin-bottom: 0;
}
.contact-info.vc_column_container p i {
  margin-right: 15px;
}
.contact-info.vc_column_container .contact-info-inner {
  margin-bottom: 105px;
}
.contact-info.vc_column_container .vc_icon_element.vc_icon_element-outer.vc_icon_element-align-left {
  margin-bottom: 0;
  margin-right: 25px;
  width: 15px;
  float: left;
}
